@{
    ViewBag.Title = "Şifre Sıfırlama Doğrulaması";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Şifreniz sıfırlandı. Lütfen @Html.ActionLink("Giriş için tıklayınız", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
