@model IEnumerable<TodoList.Models.Contact>
@{
    Layout = null;
}

<div>
    <h2>Kişi Listesi</h2>
    @{
        var contacts = Model;
        Response.AddHeader("Content-disposition", "attachment; filename=medias.xls");
        Response.ContentType = "application/octet-stream";
        var firstLine = contacts.FirstOrDefault();

    }



    @if (firstLine != null)
    {
        <table style="border: 1px solid black;">
            <tr style="font-weight: bold">
                @foreach (var property in firstLine.GetType().GetProperties())
                {
                    if (!property.GetType().GetInterfaces()
                            .Any(x => x.IsGenericType))
                    {
                        <td style="border: 1px solid #a59f9f;">
                            @{
                                var dn = (System.ComponentModel.DisplayNameAttribute)property.GetCustomAttributes(typeof(System.ComponentModel.DisplayNameAttribute), true).SingleOrDefault();
                                var displayName = (dn != null ? dn.DisplayName : property.Name);
                            }
                            @displayName
                        </td>

                                    }
                                }
            </tr>
            @foreach (var contact in contacts)
            {
                <tr>
                    @foreach (var contactProperty in contact.GetType().GetProperties())
                    {
                        if (!contactProperty.GetType().GetInterfaces()
                             .Any(x => x.IsGenericType))

                        {
                            <td style="border: 1px solid black;">@contactProperty.GetValue(contact, null)</td>
                        }
                    }
                </tr>
            }
        </table>
                                }
</div>