@model IEnumerable<TodoList.Models.ApplicationUser>
@{
    ViewBag.Title = "Excel Aktar";
    Layout = null;
}

<body>
    <div>
        <h2>Kullanıcı Listesi</h2>
        @{
            var users = Model;
            Response.AddHeader("Content-disposition", "attachment; filename=applicationUsers.xls");
            Response.ContentType = "application/octet-stream";
            var firstLine = users.FirstOrDefault();
        }
        <table style="border: 1px solid black;">
            <tr style="font-weight: bold">
                @foreach (var property in firstLine.GetType().GetProperties())
                {
                    <td style="border: 1px solid #a59f9f;">@Html.DisplayName(property.Name)</td>
                }
            </tr>
            @foreach (var user in users)
            {
                <tr>
                    @foreach (var userProperty in user.GetType().GetProperties())
                    {
                        <td style="border: 1px solid black;">@userProperty.GetValue(user, null)</td>
                    }
                </tr>
            }
        </table>
    </div>
</body>