@model IEnumerable<TodoList.Models.Customer>
@{
    Layout = null;
}

<body>
    <div>
        <h2>Müşteri Listesi</h2>
        @{
            var customers = Model;
            Response.AddHeader("Content-disposition", "attachment; filename=urunler.xls");
            Response.ContentType = "application/octet-stream";
            var firstLine = customers.FirstOrDefault();
        }
        <table style="border: 1px solid black;">
            <tr style="font-weight: bold">
                @foreach (var property in firstLine.GetType().GetProperties())
                {
                    <td style="border: 1px solid #a59f9f;">@Html.DisplayName(property.Name)</td>
                }
            </tr>
            @foreach (var customer in customers)
            {
                <tr>
                    @foreach (var mediaProperty in customer.GetType().GetProperties())
                    {
                        <td style="border: 1px solid black;">@mediaProperty.GetValue(customer, null)</td>
                    }
                </tr>
            }
        </table>
    </div>
</body>